# Environment variables
*.env
.env

# Python bytecode
*.pyc
__pycache__/
.pytest_cache/

# SQLite DB
db.sqlite3

# Virtual environment
venv/

# Uploaded media files
media/
staticfiles/

# Git
.git
.gitignore

# Docker-specific
Dockerfile
docker-compose*.yml
docker-compose*.yaml

# Logs
*.log
logs/
*.pot

# IDE/editor config
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
