MAIL="your-smtp-mail"
PASSWORD="your-mail-password"
SECRET_KEY="your-django-secret"
DEBUG="True"
ALLOWED_HOSTS="*,localhost"
RAZORPAY_API_KEY="your-razorpay-api-key"
RAZORPAY_API_SECRET_KEY="your-razorpay-secret-key"

# Dinamic values in code
SELLER_HUB_COORDINATES="9.9312,76.2673"
FREE_DELIVARY_LIMIT_IN_KM="100"
DELIVARY_CHARGE_INTERVAL="50"
DELIVARY_PREMIUM_PER_INTERVAL="20"

CURRENT_DOMAIN="http://127.0.0.1:8000"
CSRF_TRUSTED_ORIGINS="http://localhost:8000,http://127.0.0.1:8000"

# Database
DATABASE_URL="postgresql://postgres:your-password@localhost:5432/db-name"

# storage - change to s3 after setting s3 bucket and provide proper keys
STORAGE="media"
AWS_ACCESS_KEY_ID="your-aws-iam-access-key"
AWS_SECRET_ACCESS_KEY="your-aws-iam-secret-key"
AWS_STORAGE_BUCKET_NAME="your-aws-bucket-name"
AWS_S3_SIGNATURE_NAME="s3v4"
AWS_S3_REGION_NAME="your-aws-s3-region"
AWS_S3_FILE_OVERWRITE="False"
AWS_DEFAULT_ACL="None"
AWS_S3_VERITY="True"
DEFAULT_FILE_STORAGE="storages.backends.s3boto3.S3Boto3Storage"
