{% extends 'layouts/main.html' %}
{% load static %}
{% load socialaccount %}

{% block header %}
<!-- Page level plugin styles START -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<style>
  .hide{
    display: none;
  }

  @media only screen and (max-width: 600px) {
    .login_logo{
      display: none;
    }
  }

 
  
    
</style>
<!-- Page level plugin styles END -->
{% endblock header %}
  

{% block content %}
<div class="d-flex justify-content-center align-items-center bg-black text-white" style=" width: 100%; margin-top: -50px;">

  <div class="col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3">
    <!-- Begin Sign in -->
    <div id="login_page" style="width: 100%; margin: 150px 0; ">

      <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <h1>Forgot Password</h1>
      </div>

      <form method="post">

        {% csrf_token %}
  
        <!-- Username input -->
        <div data-mdb-input-init class="form-outline  mb-4">
          <label class="form-label" for="form2Example1">Email</label>
          <input type="email" id="email" placeholder="Enter registered mail id" class="form-control" name="email" required/>
        </div>

        <div class="mb-5" style="width: 100%;">
          <a style="float: right;
                    margin-top: 0px;
                    text-decoration: none;
                    font-size: 12px; margin-bottom: 15px;" href="{% url 'login' %}">login</a>
        </div>

        {% if messages %}
          <div class="d-flex justify-content-center">
            {% for message in messages %}
            <p class="message {{message.tags}}" style="font-size: small; font-style: italic;">
             
                {{message}}
              
            </p>
            {% endfor %}
          </div>
        {% endif %}
        <!-- 2 column grid layout for inline styling -->
      
        <!-- Submit button -->
        <div class="d-flex justify-content-center" style=" width: 100%;">
          <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Submit</button>
        </div>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="{% url 'register' %}" class="btn btn-danger" style="cursor: pointer;" id="register_button">Register</a></p>
          <p>or sign up with:</p>
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="bi bi-facebook"></i>
          </button>

          <a href="{% provider_login_url 'google' %}?next=/" type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="bi bi-google"></i>
          </a>
        
      
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="bi bi-twitter-x"></i>
          </button>
      
          <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="bi bi-github"></i>
          </button>
        </div>
      </form>
    </div>
    <!-- End Sign in -->

  </div>

</div>
{% endblock content %}
  

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
  
</script>
{% endblock scripts %}
