{% extends 'admin_page/layout/main.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">

<style>
    .table{
      background-color: white;
      color: black;
      font-weight: 400;
    }

    .table-responsive {
        overflow-x: auto;
        overflow-y: auto;
        max-width: 100%;
        max-height: 70vh; 
    }
    .table-hover tbody tr:hover {
        color: black;
    }
    .table th, .table td {
        white-space: wrap;
    }
    
    img {
      max-width: 120px;
      margin-right: 20px;
    }

    .tm-product-table-container {
        overflow-x: scroll !important;
    }

    th{
      white-space: nowrap; padding-left: 20px; padding-right: 20px;
    }


    .status-select {
        display: none;
    }

    .tm-product-table-container {
      max-height: 800px;
    }
</style>
{% endblock header %}


{% block content %}
<div class="container-fluid " style="background-color: black; padding: 50px 5rem 100px;">
  {% if messages %}
  <div class="alert-container">
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
          {{ message }}
      </div>
      {% endfor %}
  </div>
  {% endif %}

  <h4 style="color: white;">Return Request</h4>

  <div class="col-md-6 my-4">
    <form class="d-flex" method="get" role="search">
        <input name="search" class="form-control me-2 bg-light text-dark" type="search" placeholder="Search" aria-label="Search" 
        {% if search %} value="{{search}}" {% endif %}>
        <button class="btn btn-success ml-3" type="submit">Search</button>
    </form>      
  </div>

  <div class="tm-product-table-container table-responsive mb-5">
    <table class="table table-hover tm-table-small tm-product-table">
        <thead class="thead-dark">
            <tr>
                <th>Order Id</th>
                <th scope="col">&nbsp;</th>
                <th scope="col">Product Details</th>
                <th scope="col">Price Details</th>
                <th scope="col">Discount Details</th>
                <th scope="col">Stock Details</th>
                <th scope="col">Total</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Return Requested</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Order Status</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for order_item in return_request %}
            <tr>
                <td style="color: brown;">#{{order_item.order.order_identifier}} </td>
                <td scope="row">
                    <img src="{{order_item.product_variant.product.product_images.all.0.product_image.url}}" alt="Product Image" width="100">
                </td>
                <td class="tm-product-name" style="min-width: 400px;">
                  <strong>{{order_item.product_variant.product.brand}}</strong> <br>
                  <span style="font-weight: 400;">{{order_item.product_variant.product.title}}</span>
                </td>
                <td style="white-space: nowrap; padding: 0 20px;">
                    <p>Original Price: ₹{{order_item.original_price|floatformat:0}}</p>
                    <p><strong>Selling Price:</strong> ₹{{order_item.selling_price|floatformat:0}}</p>
                </td>
                <td style="white-space: nowrap;">
                  <p>Saved Amount: ₹{{order_item.item_discount|floatformat:0}}</p>
                  <p>
                    Coupon: 
                    {% if order_item.order.coupon %}
                    ₹{{order_item.coupon_discount|floatformat:0}} <span style="color: cornflowerblue;">({{order_item.order.coupon}})</span>
                    {% else %}
                    NO Coupon Applied
                    {% endif %}
                  </p>
                </td>
                <td style="white-space: nowrap; padding: 0 20px;">
                  <p><strong>Color:</strong> {{order_item.product_variant.color.name}} <strong class="ml-3">Size:</strong> {{order_item.product_variant.size.name}}</p>
                  <p>Purchased Quantity: <strong>{{order_item.quantity}}</strong></p>
                </td>
                <td style="white-space: nowrap; padding: 0 20px;">
                    <p>Sub Total: <strong>₹ {{order_item.item_total|floatformat:0}}</strong></p>
                    <p>Grand Total: <strong>₹ {{order_item.item_grand_total|floatformat:0}}</strong></p>
                </td>
                <td style="white-space: nowrap; padding: 0 20px;">
                  <p>
                    {{ order_item.completed_date|date:"d M H:i" }}
                  </p>
                </td>
                
                <td style="white-space: nowrap; padding: 0 20px;">
                  <p>
                    {{ order_item.return_date|date:"d M H:i" }}
                  </p>
                </td>

                <td style="white-space: nowrap; padding: 0 20px;">
                    <p>
                        {% if order_item.payment_status == 'success' %}
                        <span style="color: rgb(115, 231, 115); font-size: large;">{{order_item.payment_status}}</span>
                        {% else %}
                        <strong>
                          <span style="color: rgb(105 3 3); font-size: large;">{{order_item.payment_status}}</span>
                        </strong>
                        {% endif %}
                    </p>
                </td>
                <td>
                  {% if order_item.status == 'return_request' %}
                  <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="item-id" value="{{order_item.id}}" hidden>
                    <button name="decline-btn" class="btn btn-danger">Decline</button>
                  </form>
                  {% endif %}
                </td>
                <td>
                  {% if order_item.status == 'return_request' %}
                  <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="item-id" value="{{order_item.id}}" hidden>
                    <button name="accept-btn" class="btn btn-success">Accept</button>
                  </form>
                  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>

{% endblock content %}


{% block post_footer %}

{% endblock post_footer %}
  

{% block scripts %}

{% endblock scripts %}